In [1]:
revenue = [14574.49, 7606.46, 8611.41, 9175.41, 8058.65, 8105.44, 11496.28, 9766.09, 10305.32, 14379.96, 10713.97, 15433.50]
expenses = [12051.82, 5695.07, 12319.20, 12089.72, 8658.57, 840.20, 3285.73, 5821.12, 6976.93, 16618.61, 10054.37, 3803.96]

In [2]:
profit = list()

In [3]:
type(profit)

list

In [5]:
for i in range(len(revenue)):
    profit.append(revenue[i]-expenses[i])

In [6]:
profit

[2522.67,
 1911.3900000000003,
 -3707.790000000001,
 -2914.3099999999995,
 -599.9200000000001,
 7265.24,
 8210.550000000001,
 3944.9700000000003,
 3328.3899999999994,
 -2238.6500000000015,
 659.5999999999985,
 11629.54]

In [7]:
tax = [round(i*0.3,2)for i in profit]#2 indicates 2 decimal places

In [8]:
tax

[756.8,
 573.42,
 -1112.34,
 -874.29,
 -179.98,
 2179.57,
 2463.17,
 1183.49,
 998.52,
 -671.6,
 197.88,
 3488.86]

In [9]:
#PT is profit after tax

In [10]:
pt = list()

In [11]:
for i in range(len(profit)):
    pt.append(profit[i]-tax[i])

In [12]:
pt

[1765.8700000000001,
 1337.9700000000003,
 -2595.4500000000007,
 -2040.0199999999995,
 -419.94000000000005,
 5085.67,
 5747.380000000001,
 2761.4800000000005,
 2329.8699999999994,
 -1567.0500000000015,
 461.71999999999855,
 8140.68]

In [21]:
#calculating profit margin after tax
profit_margin = list()
for i in range (len(profit)):
    profit_margin.append(round((pt[i]/revenue[i])*100,2))

In [22]:
profit_margin

[12.12,
 17.59,
 -30.14,
 -22.23,
 -5.21,
 62.74,
 49.99,
 28.28,
 22.61,
 -10.9,
 4.31,
 52.75]

In [24]:
#calculating mean
mean_pt = sum(pt)/len(pt)

In [25]:
mean_pt

1750.6816666666666

In [30]:
#calculating goodmonths
goodmonths = list()
for i in range(len(profit)):
    goodmonths.append(pt[i]>mean_pt)

In [33]:
goodmonths

[True, False, False, False, False, True, True, True, True, False, False, True]

In [31]:
#calculating badmonths
badmonths = list()
for i in range(len(profit)):
    badmonths.append(pt[i]<mean_pt)

In [32]:
badmonths

[False, True, True, True, True, False, False, False, False, True, True, False]

In [35]:
bestmonth = list()
for i in range (len(profit)):
    bestmonth.append(pt[i] == max(pt))

In [36]:
bestmonth

[False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True]

In [37]:
worstmonth = list()
for i in range (len(profit)):
    worstmonth.append(pt[i] == min(pt))

In [38]:
worstmonth

[False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False]