```Lists starts from zero.
In python, lists can have mixed values. 
it can have string, integer, float, etc```

In [1]:
firstlist = [3,5,4,6,3,34]

In [2]:
firstlist

[3, 5, 4, 6, 3, 34]

In [3]:
type(firstlist)

list

In [5]:
list2 = ["hello", 2323, True, 44.3]

In [6]:
list3 = ["how are you",list2,firstlist]

NameError: name 'firstlist' is not defined

In [6]:
list3

['how are you', ['hello', 2323, True, 44.3], [3, 5, 4, 6, 3, 34]]

---

In [7]:
range(15)

range(0, 15)

In [8]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In python 3, range is same as xrange in python 2

*syntax of list is list(starting number,ending number, by steps)*

In [11]:
list(range(100,120,3))

[100, 103, 106, 109, 112, 115, 118]

In [12]:
list(range(100,120,2))

[100, 102, 104, 106, 108, 110, 112, 114, 116, 118]

---

In [1]:
#finding out the number of elements in a list

In [8]:
len(list2)

4

In [9]:
#negative index. -1 indicates the last element in the list
list2[-1]

44.3

In [10]:
#we can also overwrite the values in the list

---

### Slicing in python

you can slice any list using :

Subsetting in python is called slicing

In [11]:
list2

['hello', 2323, True, 44.3]

In [13]:
list2[1:3]

[2323, True]

In [14]:
list2[0:3]

['hello', 2323, True]

In the above examples, notice that while we included the first element, we removed the elements from the 3rd index hasnt included.

#### Advanced Slicing

In [15]:
list3 = range(9)

In [16]:
list3[2:8:2]

range(2, 8, 2)

In [17]:
print(list3[2:8:2])

range(2, 8, 2)

In [18]:
letters = "alphabet"

In [19]:
letters[2:5:2]

'pa'

In [20]:
#the last "2" indicates the number of steps. similar to the steps in range

In [23]:
letters[::-1]

'tebahpla'

In [24]:
letters[::-2]

'tbhl'

remember that, if we are using negative step, make sure that the index is either not specified or it is in decending order

---

## Tuples, Tadaaa!!

tuples are immutable lists

In [3]:
t1 = (345,674,344)

In [4]:
t1

(345, 674, 344)

tuples are similar to lists, but it cant be changed (immutable)

Tuples are not something that you might be playing with alot in data science